/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';
@import 'setup';
@import 'grid';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{ 
    height: 100%; 
    width: 100%;
    overflow: scroll;
    background: white;
  }

 body{  }

 a{ 
    @include transition; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: $sprocket-dblue; 
    text-decoration: none; 

   &:hover{ 
      @include transition; 
      color: $sprocket-red;   
    }
  }

 p, label{ 
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px; 
   }

 ul{ list-style:none; }

 hr{ 
   @include full;
   height: 1px;
   background: $sprocket-lslate;
   border: none; 
  }

 h1, h2, h3, h4, h5, h6{
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
 }

 h1{ font-size: 30px; line-height: 30px; }
 h2{ font-size: 27px; line-height: 27px; }
 h3{ font-size: 24px; line-height: 24px; }
 h4{ font-size: 21px; line-height: 21px; }
 h5{ font-size: 18px; line-height: 18px; }
//  h4{ line-height: ; }
//  h5{ line-height: ; }

 button{ 
   border: none;

   &:hover{
     cursor: pointer;
   }
  }

 ::selection{ background: $sprocket-dblue; color: white; }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }

 .divider{ height: 6px; width: 75px; }
 .divider-small{ height: 3px; width: 50px; }

 .rounded-corners{ border-radius: 8px; }

 .text-small{ font-size: 14px; }
 .text-medium{ font-size: 19px; }

 .ol-disc{ 
   list-style: disc;
   content: "\2022";
   padding-left: 20px;
  }

  // Creates inner shadow around screen edges. 
  .box-shadow{
    position: fixed;
    z-index: -5;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0; 
    box-shadow: inset 0 0 100px #d5dfec;
  }

  select{
    background: #f5f6f8;
    border: 1px solid rgba(189,199,229,.5);
    border-radius: 3px;
    padding: 10px; 

  }

 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */
  .navigation-container{
    @include full;

    display: flex; 
    height: 90px;

    background: $sprocket-dblue;
    // padding: 20px 0px; 

    .navigation-content{
      width: 90vw;
      max-width: 1500px;
      margin: 0 auto;
    }
  
    .navigation-logo{
      float: left;
      margin: 20px 0;  

      &:hover{ background: none !important; border-bottom: none;  }
      
      img{
        height: 45px; 
      }
    }
  }

  .user-info-container{
    float:right; 
    text-align: right; 

    .user-info-name{
      @include full; 
      line-height: 25px; 
    }

    .user-info-details{
      @include full; 

      ul{
        float: right;        

        li, li a{
          color: $sprocket-lblue;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          font-size: 12px;
          float: left; 
        }
      }
    }
  }

  .navigation-links{
    float: right;
    height: 100%;  

    li{
      @include transition; 
      display: inline;
      height: 100%;  

      a{ 
        float: left;
        height: 100%;
        line-height: 90px;   

        padding-left: 15px;
        padding-right: 15px;

        &:hover{
          @include transition; 
          background: $sprocket-ddblue; 
        }
       }

     

      // &:nth-child(2){ margin: 0 30px; }

      .navlink-icon{
        display: visible;  
      }
      
      .navlink-label{
        display: visible;  
      }
    }
  }


  .logged-in-nav{
    .nav-links{
      ul{
        li{
          display: inline;
          a{
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: $sprocket-lblue; 

            &:hover{
              color: white; 
            }
          }
        }
      }
    }
  }

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */ 

  // Splash
  .splash-title-container{
    @include center; 
    width: 400px; 
    padding-top: 200px; 
  }

  // Generic Box
  .box-a{
    @include rounded_corners; 
    padding: 30px; 
    border: 2px solid $sprocket-lslate;
  }

  .box-c{
    background: #ebedf0;
    border-radius: 5px; 
    padding: 10px;     
  }


  // Full Size Blue Button
  .button-blue{
    @include rounded_corners;
    @include transition;

    background: $sprocket-altblue;
    padding: 10px 30px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: white; 
    text-align: center; 
    
    &:hover{
      @include transition; 
      border: none;
      background: #164893; 
    }  

    &:active{
      background: $sprocket-altblue;
    }
  }

  // Full Size Red Button
  .button-red{
    @include rounded_corners;
    @include transition;

    background: #b12321;
    padding: 10px 30px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: white; 
    text-align: center; 

    &:hover{
      @include transition; 
      border: none;
      background: $sprocket-red; 
    }  

    &:active{
      background: $sprocket-altblue;
    }
  }

  // Track Selection Button
  .button-large{
    @include rounded_corners;
    @include transition;

    background: #F5F6F8;
    padding: 60px;

    h2{
      @include transition; 
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      color: $sprocket-slate; 
      text-align: center; 
      font-size: 25px; 
    }

    &:hover{
      @include transition; 
      border: none;
      background: $sprocket-lslate; 

      h2{
        @include transition; 
        color: $sprocket-altblue;
      }

      .track-select-icon{
        color: $sprocket-altblue;
      }
    }  

    &:active{
      background: $sprocket-altblue;

      h2, .track-select-icon{
        color: white; 
      }
    }
    
  }

  // Generic Box Built to have the header and body separated (Used for data display)
  .box-b{
    
    .body{
      @include full; 
      padding: 20px; 
      border-left: 2px solid $sprocket-lslate;
      border-right: 2px solid $sprocket-lslate;
      border-bottom: 2px solid $sprocket-lslate;
      border-radius: 0 0 3px 3px;
    }
  }

  // Box built to mimic box-b, but with styling to work with tabs
  .box-tabs{
    .body{
      @include full; 
      padding: 20px; 
      border-left: 2px solid $sprocket-lslate;
      border-right: 2px solid $sprocket-lslate;
      border-bottom: 2px solid $sprocket-lslate;
      border-top: 2px solid $sprocket-lslate;
      border-radius: 3px;
    }
  }

  //Header Styles
  .header{
    @include full; 
    padding: 10px 20px; 
    border: 2px solid $sprocket-lslate;
    border-radius: 3px 3px 0 0;
  }

  .header-b{
    @include full; 
    padding: 15px; 
    border: 2px solid $sprocket-dblue;
    border-radius: 3px 3px 0 0;
    background: $sprocket-dblue;

    h3{ color: white !important; }
  }

  .header-c{
    @include full; 
    padding: 10px 15px; 
    border: 2px solid $sprocket-lslate;
    border-radius: 3px 3px 0 0;
    background: $sprocket-lslate;

    h3{ color: $sprocket-dblue !important; }
  }

  .header-d{
    @include full; 
    padding: 10px 20px; 
    border: 2px solid $sprocket-red;
    border-radius: 3px 3px 0 0;
    background: $sprocket-red;

    h3{ color: white !important; }
  }

  .text-feature{
    font-size: 22px; 
  }
  

  // These styles are used for the header section of each page. 
  .dashboard-header-container{

    .game-header{
      float: left;
      div{ float: left; }
    }

    .game-dates{
      float: right;

      ul{ 
        float: right;
        
        li{ float: left; }
      }
    }

    // Smaller version of the blue button used in the date change section.
    .button-blue{
      font-size: 14px !important;
      padding: 5px 15px 7px 15px !important;
    }
    
    .dashboard-header{
      font-family: 'Catamaran', sans-serif;
      font-size: 30px;
      font-weight: 900;
      // text-transform: uppercase; 
    }
    .dashboard-dates{
      p{ line-height: 35px; }
    }

    // Vertical divider between the Home Icon Button and Game Name
    .divider{ 
      margin-top: 8px; 
      height: 30px; 
      width: 2px;
      background: $sprocket-lslate;
    }
  }

  .icon-home{
    height: 25px; 
    margin: 9px 20px 0 0;
  }


  .nav-divider-vertical{ 
    margin-top: 3px; 
    height: 40px; 
    width: 1px;
    background: $sprocket-altblue;
    border: none; 
  }

// Created for Statistic data table display. 
.data-display-container{

  .data-display{
    background: #f5f6f8; 
    border: 1px solid rgba(189,199,229, .5);
    border-radius: 3px; 

    .data-display-border-vertical{
      border-right: 1px solid rgba(189,199,229, .5);
    }

    .data-display-border-horizontal{
      border-bottom: 1px solid rgba(189,199,229, .5);
    }

    // These make sure the styling is adjusted correctly on window resize. 
    .dd-item-a{ padding: 10px; }
    .dd-item-b{ padding: 10px; }
  }

}

// Arrow Buttons - Needs positioning based on parent container.
.arrow-button{
  @include transition; 
  height: 50px; 
  width: 50px;
  border-radius: 25px;  
  background: $sprocket-altblue;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);

  &:hover{
    @include transition;
    background: #164893;
    border: none; 
  }
}

.icon-arrow-left{
  height: 23px;
  padding: 3px 3px 0 0;
}

.icon-arrow-right{
  height: 23px;
  padding: 3px 0 0 3px;
}


// React Tab Styles
.react-tabs__tab{
  @include transition; 
  background: $sprocket-lslate; 
  margin: 0 5px; 
  padding: 10px 15px; 
  border-radius: 10px 10px 0 0;

  p{ color: $sprocket-slate; }

  &:hover{
    @include transition; 
    cursor: pointer; 
    background: #e9ecf0; 
  }
}

.react-tabs__tab--selected{
  @include transition; 
  background: $sprocket-altblue; 
  margin: 0 5px; 
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;

  p{ 
    color: white;
    font-weight: 900; 
   }

  &:hover{
    @include transition; 
    cursor: pointer; 
    background: #164893;
  }
}

.tab-responsive {
  p{ display: block; }
  i{ 
    display: block;
    margin: 4px 7px 0 0;
   }
}

// Can Delete -- Used to test scaling for real graphs
.fakegraph{
  height: 20vh; 
  width: 100%; 
  border-radius: 50%; 
  background: $sprocket-slate; 
}

.track-select-icon{
  @include transition;
  color: $sprocket-slate; 
  
  &:hover{
    @include transition;
    color: $sprocket-altblue;
  }

  .fa-gamepad{ font-size: 80px; }
  .fa-user-friends{ font-size: 80px }
  .fa-file-alt{ font-size: 80px; }
}

.fa-calendar-alt{ font-size: 18px; }

.date-range-container{
    display: flex;
    height: 100%; 

    div,ul{
        justify-content: flex-end;
        align-self: center; 
        margin-left: auto; 
    }

}

/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  width: 300px;
  // white-space: nowrap;
  overflow: hidden;
  padding: 20px;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: $sprocket-dblue;
  color: #fff;
  font-weight: 600 !important; 
  text-align: left; 
  line-height: 20px; 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.flex{ display: flex;align-items: center;
  justify-content: center }

.heatmap-hidden{ 
  visibility: hidden; 
  max-height: 600px; // Tallest a heatmap can be. 
}

.heatmap-parent{ 
  background-repeat: no-repeat !important; 
  background-size: contain !important; 
  position: relative;
  display: inline-block; 
  max-width: 100%;

  img{ display: block; height: auto; max-width: 100%; }
}

.heatmap-graph{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .xaxis{
    position: absolute;
    bottom: 0; 
    left: 20px;
    height: 20px; 
    width: calc(100% - 20px);
    background: blue; //Just to show where it is. Delete when actual numbers are in.
  }

  .yaxis{
    position: absolute;
    left: 0; 
    bottom: 20px; 
    width: 20px; 
    height: calc(100% - 20px);
    background: purple; //Just to show where it is. Delete when actual numbers are in.
  }

  .heatmap-blips{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    .center-origin-marker{
      position: absolute; 
      height: 20px; 
      width: 20px;
      border-radius: 10px;
      background: $sprocket-red;
      border: 4px solid black;
      box-shadow: 0px 3px 5px rgba(0,0,0,.5);

      //Center the marker
      top: 48%;
      left: 49.25%; 
    }
  }
}


.heatmap-image-home{          background: url(../img/heatmaps/heatmap-home-transparent.png); }
.heatmap-image-beach{         background: url(../img/heatmaps/heatmap-beach-transparent.png); }
.heatmap-image_headstart{     background: url(../img/heatmaps/heatmap-headstart-transparent.png); }
.heatmap-image-halloween{     background: url(../img/heatmaps/heatmap-halloween-transparent.png); }
.heatmap-image-carnival{      background: url(../img/heatmaps/heatmap-carnival-transparent.png); }
.heatmap-image-park{          background: url(../img/heatmaps/heatmap-park-transparent.png); }
.heatmap-image-museum{        background: url(../img/heatmaps/heatmap-museum-transparent.png); }
.heatmap-image-house-party{   background: url(../img/heatmaps/heatmap-house-party-transparent.png); }
.heatmap-image-military{      background: url(../img/heatmaps/heatmap-military-transparent.png); }
.heatmap-image-airport{       background: url(../img/heatmaps/heatmap-airport-transparent.png); }
.heatmap-image-hospital{      background: url(../img/heatmaps/heatmap-hospital-transparent.png); }
.heatmap-image-casino{        background: url(../img/heatmaps/heatmap-casino-transparent.png); }
.heatmap-image-garden{        background: url(../img/heatmaps/heatmap-garden-transparent.png); }
.heatmap-image-market{        background: url(../img/heatmaps/heatmap-market-transparent.png); }


.loading-spinner-container{
  @include full;
  position: relative; 
  padding: 10px;
  margin: 0 auto; 
  text-align: center;
}

.loading-spinner{
  position: relative;

  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 30px;
  width: 30px;
  border: 4px solid $sprocket-altblue;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* END: Elements */


 /**
  * =========================================
  * Footer
  * =========================================
  */ 

  .footer-container{
    background: rgb(235, 238, 241);
    margin-top: 60px; 

    .footer-logo{

      img{
        padding: 0 0; 
        height: 55px; 
        width: 100%; 
        max-width: 100%; 
      }
      
    }
  }

  .footer-info{  p{ text-align: right;  } }

  /* END: Footer */


// Modal
.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 75px auto;
  background: #fff;
  width: 60vw;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: fixed;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0; 
  
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 15px;
    opacity: 1;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
      color: white !important; 
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}